{{!-- detailed page --}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{bookResults.image_url}}" >
  <div class="card-body">
    <h5 class="card-title">{{bookResults.title}}</h5>
    <p class="card-text">{{bookResults.description}}</p>
    <a href="/review?title={{bookResults.title}}" class="btn btn-primary">Find Review</a>
  </div>
</div>