{{!-- landing page --}}

<div class="container">

        <h1>My Bookstore</h1>

        <form action="/master" method="post">
        {{#each inputChars}}
            {{#if this.newRow}}
            <div class="row">
            {{/if}}
                <div class="col-md-2"><input type="hidden" name="charQuery" value="{{this.value}}"><button type="submit">{{this.value}}</button></div>
            {{#if this.endRow}}
            </div>
            {{/if}}
        {{/each}}
        </form>
    </div>

</div>