{{!-- landing page --}}

<div class="container">

        <div class="row">
            <div class="col">
                <h1>My Bookstore</h1>
            </div>
        </div>

        {{#each inputChars}}
            {{#if this.newRow}}
            <div class="row">
            {{/if}}
                <form action="/master" method="GET">
                    <div class="col-md-2"><input type="hidden" name="charQuery" value="{{this.value}}"><button type="submit" class="charBtn">{{this.value}}</button></div>
                </form>
            {{#if this.endRow}}
            </div>
            {{/if}}
        {{/each}}

</div>